* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

:root {
    --primery: rgba(255, 255, 255, 0.748);
    --secondery: rgb(255, 255, 255);
    --main: rgb(12, 110, 238);
    --attract: rgba(0, 0, 0, 0.282);
    --last: #05212b;
}

body {
    width: auto;
    background-color: var(--primery);
    height: 100vh;
}

.container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 150px;
    background-color: white;
    z-index: 9;
}

.nav {
    width: auto;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.olx {
    width: 50px;
    margin-right: 2vw
}

.cars {
    width: 40px;

}


.house {
    width: 40px;
    margin-left: 2vw;
}

.first {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.first>p {
    margin-left: 0.5vw;
    color: var(--last);
}

.sec {
    width: 40%;
    height: 100%;
    display: flex;
    gap: 2vw;
    justify-content: end;
    align-items: center;
}

.sec>p {
    color: var(--last);
    font-weight: 700;
    font-size: 18px;
}

.sec>h1 {
    border: 3px solid;
    border-radius: inherit;
    border-image: linear-gradient(to top right, #05212b, rgb(105, 170, 255));
    border-image-slice: 1;
    padding: 6px;
    margin-right: 1vw;
    width: 80px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

.sec>h1>i {
    font-size: 18px;
}

.secnav {
    width: auto;
    height: 50%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.secnav2 {
    width: 48%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.drop2 {
    width: 100%;

    height: 40px;
    border-radius: 12px;
    position: relative;


}

.drop2>button {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 100%;
    font-size: 18px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid var(--last);
    background-color: var(--last);
    color: var(--secondery);
}

.drop2>input {
    width: 96%;
    height: 96%;
    padding-left: 5px;
    border: 1px solid var(--last);
    border-radius: 4px;
}

.secnav1 {
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}





.drop1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.drop1 i {
    color: var(--last);
    font-size: 18px;


}

.drop1 label {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.drop1 select {
    flex-grow: 1;
    padding: 9px 12px;

    font-size: 15px;

    border-radius: 4px;
    outline: none;
    background-color: #fff;
}

.drop1 select:focus {
    border-color: var(--last);
    box-shadow: rgba(0, 123, 255, 0.2);

}


.gallery {
    margin-top: 160px;
    width: 70%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.gallery>a {
    text-decoration: none;
    color: var(--last);




}

.images {
    margin-top: 10px;
    background: url("img/545487576-800x600.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;

    margin-right: auto;
    width: 70%;
    height: 170px;
    border-radius: 20px;

}

.pic {
    width: 70%;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 160px;
    height: 160px;
    text-align: center;
}

.box>img {
    width: 160px;
    height: 160px;

}

.productname {
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}

.product {
    width: 70%;
    height: auto;
    margin: 30px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 65px 30px;
    justify-content: space-evenly;
}

.cards {
    width: 300px;
    height: 300px;
    text-align: center;

}

.cards>img {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
    box-shadow: 0px 1px 10px var(--last);
}

.cards>p {
    margin-top: 4px;
    margin-bottom: 7px;
}


#logoutBtn{
    padding: 8px;
    background-color: var(--last);
    color: var(--secondery);
    border: 1px solid var(--last);
    border-radius: 8px;
}
#logoutBtn:hover{
    opacity: 0.6;
}
.cards>span {
    margin-bottom: 10px;
}


.cards>button {
    width: 100%;
    background-color: var(--last);
    color: var(--secondery);
    padding: 7px;
    border: 1px solid var(--last);
}

.cards>button:hover {
    opacity: 0.6;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.257);
    top: 0;
    left: 0;
    z-index: 999;
}

.foamDiv {
    width: 320px;
    height: 375px;
    background-color: white;
    box-shadow: 0px 1px 10px var(--last);
    position: fixed;
    top: 50%;
    padding: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
}

.foamDiv>center>img {
    width: 120px;
    height: 120px;

}

.foamDiv>label {
    color: var(--last);

}

.foamDiv>input {
    margin-bottom: 10px;
    margin-top: 3px;
    width: 95%;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid var(--last);
    color: black;
}

.foamDiv>button {
    width: 100%;
    padding: 5px;
    background-color: var(--last);
    border: 1px solid var(--last);
    color: var(--secondery);
    border-radius: 8px;
}

.foamDiv>button:hover {
    opacity: 0.7;
}

footer {
    margin-top: 70px;
    width: auto;
    height: 300px;

    padding: 10px;
    background-color: var(--last);
    text-align: center;
    align-content: center;
}

footer>p {
    font-size: 16px;
    color: var(--primery);
    margin-bottom: 8px;
}

footer>i {
    color: white;
    margin: 10px 10px;
    border-radius: 50%;
    padding: 8px;
    background-color: black;
}

footer>i:hover {
    opacity: 0.5;
}
.profile-container {
    position: relative;
    display: inline-block;
}

#profile {
    width: 60px;
    height: 70px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #333;
}

.tooltip {
    display: none;
    position: absolute;
    top: 50px;
    left: -50px;
    background-color: var(--last);
    border: 1px solid var(--last);
    color: var(--secondery);
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    font-size: 14px;
    width: 180px;
    z-index: 999;
}
